.downloads {
  padding-top: 28px;
  padding-bottom: 29px;
  color: $white;
  background-color: $blue-darkest;
  text-align: center;
}

.downloads__title {
  @include visually-hidden;
}

.downloads__apps {
  @include reset-list;
  display: flex;
  justify-content: space-around;
}

.downloads__description {
  margin-top: 26px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 300;
}
