.intro {
  padding-top: 396px;
  background-color: $blue-dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: -63px;
}

.intro__short {
  padding-top: 90px;
}
