.prices__back {
  @include triangle ($height: 31px, $top: 0);
  position: relative;
  padding-top: 80px;

  @media (min-width: $tablets) {
    @include triangle ($height: 51px, $top: 0);
    padding-top: 100px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktops) {
    @include triangle ($height: 74px, $top: 7px);
    padding-top: 150px;
    padding-bottom: 95px;
  }
}

.prices__list {
  position: relative;
}

.prices__header {
  background-color: $blue-dark;
  color: $white;
  text-align: center;
  padding: 20px;
}

.prices__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.prices__cost {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.prices__services {
  @include reset-list;
}

.prices__service {
  background-color: $white;
  line-height: 30px;
  text-transform: uppercase;
  border-bottom: 2px solid $grey;
  padding: 14px;
  padding-left: 40px;
}
